header {
  width: 100%;
  height: 7vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  font-size: 40px;
}
.youtube {
  font-size: 40px;
  color: red;
}
.logo {
  display: flex;
  align-items: center;
}
.input input {
  border-radius: 40px;
  background-color: #ebebeb;
}
.profile {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
